<style>
.left {
    margin-left: 0px;
}
.warning {
    color: #a94442;
    background-color: #f2dede;
    border-color: #ebccd1;
    border-radius: 5px;
    padding: 12px;
    margin-bottom: 12px;
    margin-top: 12px;
}
.math-note {
    color: #3c763d;
    background-color: #dff0d8;
    border-color: #d6e9c6;
    /*border: 1px solid;*/
    border-radius: 5px;
    padding: 12px;
    margin-bottom: 12px;
    margin-top: 12px;
}
.python-note {
    color: #8a6d3b;
    background-color: #fcf8e3;
    border-color: #faebcc;
    /*border: 1px solid;*/
    border-radius: 5px;
    padding: 12px;
    margin-bottom: 12px;
    margin-top: 12px;
}
.question {
    color: #31708f;
    background-color: #d9edf7;
    border-color: #bce8f1;
    /*border: 1px solid;*/
    padding: 12px;
    margin-bottom: 12px;
    margin-top: 12px;
    border-radius: 5px;
}
.question p, .math-note p, .python-note p, .warning p {
    /*margin-top: 1em;*/
    margin-top: 0;
}
.question * + p, .math-note * + p, .python-note * + p, .warning * + p {
    /*margin-bottom: 0;*/
    margin-top: 1em;
}
.output_area img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.output_area iframe {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.inner_cell img {
    width:100%;
    max-width:500px;
}
.thumb {
    position: inherit;
    cursor: help;
    color: #57b733;
    text-decoration: underline dotted;
}
.thumb span { 
}
.thumb img { 
    max-width: 300px;
    visibility: hidden;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 5px;
    position: absolute;
    width: inherit;
    z-index: 99;
    transition: 5ms visibility;
    border:1px solid #000;
    background:#fff;
}
.thumb:hover, .thumb:hover img { 
    visibility:visible;
    transition-delay: 500ms;
        
} 
.figsup {
    cursor: help;
    color: #57b733;
    top: -0.5em;
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
    border-bottom: none;
    text-decoration: underline dotted;

}
.fig {
    position: inherit;
    color: #57b733;
    cursor: help;
    text-decoration: underline dotted;
}   
.fig img, .figsup img { 
    border:1px solid #000;
    visibility: hidden;
    max-width: 500px;
    width: inherit;
    background-color: black;
    border-radius: 6px;
    padding: 5px 5px;
    position: absolute;
    display: block;
    margin-left: auto;
    margin-right: auto;
    /*top: 40%;
    left: 50%;
    margin-left: -250px;*/
    transition: 5ms visibility;
    z-index: 99;
}
.figsup img {
    position: inherit;
}
.fig span { 
}

.fig:hover, .fig:hover img, .figsup:hover img { 
    visibility:visible;
    transition-delay: 500ms;
}
</style>
