<style>
#thumbwrap {
	position:relative;
}
.thumb img { 
	border:1px solid #000;
	margin:3px;
	float:left;
}
.thumb span { 
	position:absolute;
	visibility:hidden;
	background-color: black;
	color: #fff;
}
.thumb:hover, .thumb:hover span { 
	visibility:visible;
	top:50%; left:50%; 
	z-index:1;
}
.thumb .thumb::after {
    content: " ";
    position: absolute;
    top: 100%; /* At the bottom of the tooltip */
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: black transparent transparent transparent;
}
		
</style>

