<style>
.left {
    margin-left: 0px;
}
.warning {
    color: #a94442;
    background-color: #f2dede;
    border-color: #ebccd1;
    border-radius: 5px;
    padding: 12px;
    margin-bottom: 12px;
    margin-top: 12px;
}
.math-note {
    color: #3c763d;
    background-color: #dff0d8;
    border-color: #d6e9c6;
    /*border: 1px solid;*/
    border-radius: 5px;
    padding: 12px;
    margin-bottom: 12px;
    margin-top: 12px;
}
.python-note {
    color: #8a6d3b;
    background-color: #fcf8e3;
    border-color: #faebcc;
    /*border: 1px solid;*/
    border-radius: 5px;
    padding: 12px;
    margin-bottom: 12px;
    margin-top: 12px;
}
.question {
    display: block;
    color: #31708f;
    background-color: #d9edf7;
    border-color: #bce8f1;
    /*border: 1px solid;*/
    padding: 12px;
    margin-bottom: 12px;
    margin-top: 12px;
    border-radius: 5px;
}
.question p, .math-note p, .python-note p, .warning p {
    /*margin-top: 1em;*/
    margin-top: 0;
    margin-bottom: 0;
}
.question * + p, .math-note * + p, .python-note * + p, .warning * + p {
    /*margin-bottom: 0;*/
    margin-top: 1em;
}
body img, .output iframe, .cell_output img, .output_area img, .output_area iframe, .output_html iframe {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.inner_cell img {
    max-width:90%;
    /*max-width:700px;*/
    /*max-height: 90%;*/
}
.fig, .thumb, .sup {
    position: inherit;
    color: #57b733;
    cursor: help;
    text-decoration: underline dotted;
    max-width: 700px;
}   
.thumb img{ 
    max-width: 400px;
}
.sup {
    top: -.5em;
    font-size: 75%;
    vertical-align: super;
}
.fig img, .sup img, .thumb img { 
    /*width: 100%;*/
    max-width: 90%;
    max-height: 50vh;
    border:1px solid #000;
    visibility: hidden;
    background-color: black;
    border-radius: 6px;
    padding: 5px 5px;
    position: absolute;
    transition: 5ms visibility;
    z-index: 99;
    left: 50%;
    transform: translate(-50%, -50%);
}
.fig:hover, .fig:hover img, .sup:hover img, .thumb:hover, .thumb:hover img { 
    visibility:visible;
    transition-delay: 500ms;
}
</style>
